#aip-interactions-viewer-main-tbl .headings {
	font-weight: bold;
}

#aip-interactions-viewer-inputs {
}

#aip-interactions-viewer-cyto {
	height: 720px;
	padding: 0;
}

#aip-interactions-viewer-main-tbl {
	font: 10px;
}

#aip-interactions-viewer-main-tbl td {
	vertical-align: top;
}
