.headings {
	font-weight: bold;
}

#aip-interactions-viewer-inputs {
	width: 120px;
}

#aip-interactions-viewer-cyto {
	height: 720px;
	width: 800px;
}

body {
	font: 10px;
}

td {
	vertical-align: top;
}
